@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Roboto+Slab:wght@500&display=swap');

* {
    box-sizing: border-box;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

    width: 100%;
    scroll-behavior: smooth;

    overflow-x: hidden;
}

.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 75px;
    padding: 0 0px;
    background-color: #2a1c10;
    color: #fff;
    box-shadow: 0px 0px 5px #000;
    

    z-index: 1;
}

.header-logo {
    display: flex;
}

.header-logo img {
    width: 60px;
    margin: 10px;
    border-radius: 50% 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.header-menu {
    position: relative;
    top: 1.5vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    width: 2.2rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .50rem;
}

.header-menu > div {
    background-color: #ffffff;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.header-menu:hover div:first-child {
    transform: rotate(45deg);
}


.header-menu:hover div:nth-child(2) {
    transition: .25s;
    opacity: 0;
}

.header-menu:hover div:last-child {
    transform: rotate(-45deg);
}

.header-li {
    position: fixed;
    left: 0;
    top: 72px;
    right: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(0deg, #48311d 0%, #2a1c10 100%);
    border-bottom: solid 2px #262626;

    z-index: 1;
    
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.4s;
}

.header-li.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header-li:target {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header-li-a {
    text-decoration: none;
    text-shadow: 1.5px 1.5px 0px #000;
    color: #fff;
    margin: 25px 0;

    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.3px;
    font-size: 20px;
    font: bold;
}

#nosotros {
    scroll-margin-top: 70px;
}

#cabañas {
    scroll-margin-top: 65px;
}

#actividades {
    scroll-margin-top: 85px;
}



.header-li-dekstop {
    display: none;
}









.first-section {
    height: 100vh;
    background-color: #0000005a;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(media/fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.first-section__nav {
    display: column;

    position: relative;
    bottom: 15vh;
}

.first-section__nav h1 {
    font-family: 'Playfair Display', serif;
    padding: 0 10px 1px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1.5px 1.5px #000;
    border-bottom: 4px solid #fff;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.8);
}

.first-section__nav div {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    text-align: center;
    color: #fff;
    text-shadow: 1.5px 1.5px #000;
}









.second-section {
    background-color: #E5E5CB;

    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a1c10;
    width: 100vw;
    height: 11vh;
    box-shadow: 0px 0px 10px #000;
    margin: 20px 0px;

}

.second-section header {
    text-align: center;
    padding: 5px;
    
    width: 90vw;
    font-size: 25px;
    
    color: #fff;
    text-shadow: 2px 2px 0px #000;
}

.second-section p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 17px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px #000000;
}

.second-section__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section img {
    height: 200px;

    border: 2px solid #000000;
    box-shadow: 0px 0px 5px #000;
    border-radius: 16px;
    margin: 20px;
}

.second-section__img-dekstop {
    display: none;
}







.third-section {
    background-color: #454545;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.third-section__header {
    background-color: #2a1c10;
    width: 100%;
    height: 11vh;
    box-shadow: 0px 0px 10px #000;
    
    margin: 30px 0;
}

.third-section__header header {
    width: 90vw;
    font-size: 25px;
    text-align: center;

    color: #fff;
    text-shadow: 2px 2px 0px #000;
}

.third-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
}

.third-section__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section img {
    height: 250px;
    width: 250px;

    margin: 1vh;
    border: 2px solid rgba(0, 0, 0, 0.856)151;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #000;
}

.third-section img:nth-child(5) {
    margin-bottom: 3vh;
}

.third-section__img-dekstop {
    display: none;
}

.third-section__img-dekstop-2 {
    display: none;
}








.fourth-section {
    background-color: #454545;
    padding-bottom: 30px;
}

.fourth-section__img div,
.fourth-section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-section__header {
    background-color: #2a1c10;
    width: 100%;
    height: 11vh;
    box-shadow: 0px 0px 10px #000;
}

.fourth-section__header header {
    width: 90vw;
    font-size: 25px;
    text-align: center;

    color: #fff;
    text-shadow: 2px 2px 0px #000;
}

.fourth-section img {
    height: 250px;
    width: 250px;

    border: 2px solid rgba(0, 0, 0, 0.856)151;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #000;
}

.fourth-section__img-cont {
    margin: 1vh;
}

.fourth-section__img-1 {
    margin-top: 30px;
}






.maps {
    height: 350px;
}






footer {
    background-color: #000;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-redes p {
    display: flex;
    justify-content: center;
    
    color: #fff;
    margin: 10px 0 0;
    font-size: 25px;
}

.footer-redes__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-redes__img img {
    margin: 10px 10px 10px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.footer-logo img {
    height: 30px;
    margin: 0 10px 0;
}

.footer-logo p {
    color: #fff;
    font-size: 18px;
    margin: 0;
}









@media (min-width: 800px) {

    .header-menu {
        display: none;
    }

    .header-li-dekstop {
        display: flex;
        margin-right: 30px;
    }

    .header-li-dekstop a {
        margin: 15px;
        font-size: 18px;
    }











    .first-section {
        background-image: url(media/marycampo1.jpg);
    }

    .first-section__nav h1 {
        font-size: 50px;
    }

    








    .second-section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .second-section__txt-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vw;
    }

    .second-section__title {
        width: 45.2vw;
        margin-top: 20px;

        border-radius: 16px;
        border: 2px solid #000;
        background-color: #2a1c10;
    }

    .second-section__title header {
        font-size: 30px;
        padding: 15px;
    }

    .second-section__txt-container p {
        margin: 10px;
        font-size: 24px;
        color: #000000;
        text-shadow: 1px 1px 0px #ffffff;
    }

    .second-section__img {
        display: none;
    }

    .second-section__img-dekstop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .second-section__img-dekstop img {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 25vw;
        min-width: 250px;
        max-width: 400px;
        height: auto;
        margin: 20px 6vw;
    }

    .second-section__img-dekstop-container {
        display: flex;
    }






    


    .third-section__img {
        display: none;
    }

    .third-section__img-dekstop-2 {
        display: none;
    }


    .third-section__img-dekstop {
        display: flex;
    }



    .third-section div {
        display: block;
    }

    .third-section__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third-section img {
        margin: 0px 30px;
    }

    .third-section__img-dekstop__sub {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        margin-top: 15px;
    }



    

    .fourth-section {
        display: block;
    }

    .fourth-section__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .fourth-section__img div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .fourth-section__img-cont {
        margin: 30px 30px 0;
    }


}

@media (min-width: 800px) and (max-width: 950px) {

    .third-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .third-section__img-dekstop {
        display: none;
    }
    .third-section__img-dekstop-2 {
        display: flex;
    }

    .third-section__img-dekstop__sub-one {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
    }
}







/* ANIMACIONES */ 

.animation{
    transition: transform .5s ease;
}

.animation:hover {
    cursor: pointer;
    transform: scale(1.05);
}







.header-li-a {
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease;
}

.header-li-a:hover {
    color: #c78449;
}

.header-li-a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: rgb(140, 93, 52);
    visibility: hidden;
    transition: width 0.3s ease, visibility 0.3s ease;
}

.header-li-a:hover::after {
    width: 100%;
    visibility: visible;
}